<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Food Menu</h1>

    <nav>
        <a href="/" class="btn">Home</a>
        <a href="/food" class="btn">Food</a>
        <a href="/drinks" class="btn">Drinks</a>
        <a href="/promotions" class="btn">Promotions</a>
        <a href="/special" class="btn">Daily Special</a>
        <a href="/order" class="btn">Place Order</a>
    </nav>

</header>

<section class="menu">
    <h2>Available Food</h2>
    <ul>
    {% for food in food_menu %}
        <li class="order-item">
            <span class="item-price">€{{ "%.2f"|format(food.price) }}</span>
            <span class="item-name">{{ food.name }}</span>
        </li>
    {% endfor %}
    </ul>
</section>

</body>
</html>