<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Argentinian Bakery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- Navbar -->


<!-- Header -->
<header>
    <h1>Argentinian Bakery</h1>

<nav>
    <a href="/" class="btn">Home</a>
    <a href="/food" class="btn">Food</a>
    <a href="/drinks" class="btn">Drinks</a>
    <a href="/promotions" class="btn">Promotions</a>
    <a href="/special" class="btn">Daily Special</a>
    <a href="/order" class="btn">Place Order</a>
</nav>

    <p>
        Welcome to our Argentinian bakery! <br>
        This bakery was founded on March 2026 with passion and tradition. <br> 
        We are extremely happy to bring the best argentinian flavors to your table, like Medialunas, Facturas and Empanadas.
    </p>
</header>

</body>
</html>